<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App NodeJS and MongoDB</h1>
    <p class="class-lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, ratione dolores debitis minus quia illo.</p>
    <hr class="hr class-my-4">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro nisi voluptas excepturi nulla sint eum alias vel fugiat officia. Repudiandae?</p>
</div>